@{
    Layout = "_MasterLayout";    
    ViewBag.EnableScrollSpy = true;
}

@section topNav {
    <nav id="top-nav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">dfkeenan</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home-section">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blog-section">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects-section">Projects</a>
                </li>        
            </ul>
        </div>
    </nav> 


}


<div>
    <section id="home-section" class="promo-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                        sdfsdf
                </div>
                <div class="col-md">
                        dssdfsdfsdf
                </div>
            </div>
        </div>
    </section>
    <section id="blog-section" class="promo-section bg-dark">
        <div class="container-fluid">
            <h1>Blogs</h1>
            <div class="card-deck">
                @foreach(var post in Model.DocumentList(Keys.PageDocuments).Take(3)){
                    <div class="card">
                        <div class="card-body">
                            <a href="@Context.GetLink(post)"><h5 class="card-title"> @post.WithoutSettings.String(BlogKeys.Title)</h5></a>
                            <p class="card-text">@Html.Raw(post.String(BlogKeys.Excerpt))</p>
                        </div>
                    </div>
                }
            </div>
            <a href="@Context.GetLink(Context.String(BlogKeys.PostsPath))">More blog posts</a>
        </div>
        
    </section>
    <section id="projects-section" class="promo-section bg-dark">

    </section>
</div>