Title: All Tags
---

<h2>@Model.WithoutSettings.String(BlogKeys.Title)</h2>         
<div class="d-flex flex-wrap">
  @foreach (IDocument tagDocument in Documents[Blog.Tags]
    .GroupBy(x => x.String(BlogKeys.Tag)).Select(x => x.Where(p => p.Get<int>(Keys.CurrentPage) == 1).First())
    .OrderByDescending(x => x.Get<int>(Keys.TotalItems)))
{
    string tag = tagDocument.String(BlogKeys.Tag);
    string postCount = tagDocument.String(Keys.TotalItems);
    <a class="btn btn-primary btn-sm m-2" role="button" href="@Context.GetLink(tagDocument)" > @tag <span class="badge badge-light">@postCount</span></a>
}
</div>
